@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Josefin+Sans:wght@300&family=Kanit:wght@100&family=Monoton&family=Montserrat:wght@900&family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Josefin+Sans:wght@300&family=Kanit:wght@100&family=Monoton&family=Montserrat:wght@900&family=Playfair+Display:ital,wght@1,600&display=swap');

.Footer{
    height: 350px;
    background-color: #181C26;
   
}


.scroll-button {
  
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #EEC673;
  color: #EEC673;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  background: transparent;
}

.scroll-button:hover {
   cursor: pointer;
}
.detailbox{
    height:0px;
    position: absolute;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    margin-left: 15%;
    background-color: transparent;
    flex-direction: column ;
    
}
.detail{
    
     color:#EEC673;
     width: 100%;
     font-family: 'Josefin Sans', sans-serif;
     font-size: 15px;
}

.iconfooter{
    position: absolute;
    margin-top: 14%;
    margin-left: 15%;
  
    justify-content: center;
    align-self: center;
    justify-content: space-around;
    background-color: transparent;
    
}
.iconfooter a{
    margin-left: 10px;
    margin-right: 20px;
}

.iconfooter a:hover{
    background-color: #EEC673;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn{
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 700px) and (min-width: 100px) {
    .Footer{
      /* background-color: red; */
      height: 510px;
    }
    .detailbox{
      position: absolute;
      display: flex;
      align-content: center;
      background-color: blue;
      margin-top: 70%;
    }
    .iconfooter{
      
      align-self: center;
      /* background-color: blue; */
      margin-top: 120%;
      justify-self: center;
      
    }
    .detailbox{
      
    }
  }