/* Metromonial.css */

.testimonial-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}

.testimonial-carousel {
  position: relative;
}


.testimonial-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  transform-origin: center;
  transform: scale(0.8);
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
}

.testimonial-card.active {
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 2;
  opacity: 1;
}

.testimonial-card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Makes the image circular */
  margin-bottom: 10px; /* Adds some spacing between the image and the text */
}